<div class="row">
       <div class="col">
         <div ngbDropdown class="d-inline-block">
           <button type="button" class="btn btn-outline-primary mt-2" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
             <a  ngbDropdownItem href="employee">Action - 1</a><br />
             <a ngbDropdownItem href="department">Another Action</a><br/>
             <a ngbDropdownItem href="show-emp">Something else is here</a><br />
           </div>
         </div>
       </div>
       </div>
